body {
  text-align: center;
  background-color: tomato;
}
h1 {
  background-color: gray;
  font-size: 100px;
  margin-top: 20px;
}
h2 {
  background-color: dodgerblue;
  font-size: 60px;
  margin-bottom: 20px;
}
#info { 
  background-color: yellow;
}
#info li {
  margin-top: 15px;
  list-style-type: none;
}
#info li p { 
  font-size: 80px;
  color: salmon;
  text-align: center;
}
footer { text-align: center;}
